.container{
  width: 100%;
  max-width: 1250px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 30px;
  .container_item{
    grid-column: 1/5;
  }
  .follow_container{
    grid-column: 5/7;
    .fl_container{
      overflow: hidden;
      height: 585px;
    }
  }
}